
:root {
  --main-bg: #0a192f;
  --light-bg: #112240;
  --opacity-bg: rgba(10, 25, 47, 0.85);

  --text-color: #8892b0;
  --text-color-light: #ccd6f6;
  --accent-color: #64ffda;
  --title-color: #ccd6f6;

  --fz-title: 32px;
  --fz-sub-title: 22px;
  --fz-norm: 19px;
  --fz--small: 15px;

  --header-height: 100px;
  --mg-section: 200px;
  --slide-height: 80vh;
  --aim-item-height: -80vh;

  --iicon-size: 35px;
  --icon-gap: 10px;
}

@media (max-width: 1024px) {
  :root {
    --fz-title: 26px;
    --fz-sub-title: 18px;
    --fz-norm: 16px;
    --fz--small: 13px;

    --header-height: 80px;
    --mg-section: 150px;

    --iicon-size: 25px;
    --icon-gap: 5px;
  }
}

@media (max-width: 425px) {
  :root {
    --fz-sub-title: 18px;
    --fz-norm: 14px;
    --fz--small: 12px;

    --mg-section: 70px;

    --iicon-size: 32px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;

  font-family: inherit;
  color: var(--accent-color);
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: rgba(100,255,218,0.1);
}

.icon {
  padding: 5px;
  width: var(--iicon-size);
  height: var(--iicon-size);
  fill: var(--text-color-light);
}

.icon:hover,
.icon:active {
  transform: translateY(-3px);
  fill: var(--accent-color);
}

.title {
  position: relative;
  margin-bottom: 1.5em;
  color: var(--title-color);
  font-size: var(--fz-title);
}

.title::after {
  content: "";
  position: absolute;
  top: 25px;

  width: 20vw;
  height: 1px;
  margin-left: 20px;

  background-color: var(--text-color);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: var(--fz-norm);
  color: var(--text-color);

  background-color: var(--main-bg);
}

/* полоса прокрутки (скроллбар) */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .title::after {
    top: 20px;
  }
  .container {
    padding: 0 5%;
  }
}

@media (max-width: 425px) {
  .title {
    text-align: center;
  }
  .title::after {
    display: none;
  }
}

/*                    header          */


.header {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: end;
  align-items: center;

  width: 100%;
  height: var(--header-height);
  padding: 0 50px;

  font-size: var(--fz--small);
  color: var(--text-color-light);

  background-color: var(--opacity-bg);
  backdrop-filter: blur(5px)
}

.header__logo {
  margin-right: auto;
}

.header__logo span {
  color: var(--accent-color);
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 40px;
}

.header__link {
    padding: 12px 16px;
    border-bottom: 1px solid var(--accent-color);
}

.header__link:hover,
.header__link:active {
  padding-bottom: 18px;
  color: var(--accent-color);
}

.header__resume-link {
  display: block;
}

.menu-btn {
  position: relative;
  z-index: 5;

  display: none;
  width: 70px;
  height: 50px;
  padding: 0;

  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.menu-btn::before,
.menu-btn::after,
.menu-btn span {
  position: absolute;
  right: 0;
  height: 3px;
  width: 50%;

  background-color: var(--accent-color);
}

.menu-btn::before,
.menu-btn::after {
  content: "";
}

.menu-btn::before {
  top: 20%;
  transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.menu-btn::after {
  top: 80%;
  transition: top 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  transform: rotate(0deg);
}

.menu-btn span {
  top: 50%;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  transform:  rotate(0deg);
}

.menu-btn.active span {
  transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(225deg);
}

.menu-btn.active::before {
  opacity: 0;
  top: 50%;
  transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
}

.menu-btn.active::after {
  top: 50%;
  transition: top 0.1s ease-out, transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
  transform: rotate(135deg);
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 4;

    width: 75vw;
    height: 100vh;
    flex-direction: column;

    box-shadow: -10px 0px 30px -15px var(--shadow);
    background-color: var(--light-bg);
    transition: right 0.3s ease 0s;
    overflow: auto;
  }

  .header__nav.active {
    right: 0;
  }

  .header__list {
    width: 100%;
    margin: 100px auto;

    flex-direction: column;
    justify-content: space-between;
    row-gap: 60px;

    font-size: var(--fz-sub-title);
    text-align: center;
  }

  .header__item {
    margin-right: 0;
  }

  .header__resume-link {
    padding: 18px 50px;
    font-size: var(--fz-norm);
  }

  .menu-btn {
    display: block;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    right: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    background-color: var(--opacity-bg);
  }

  .menu-overlay.active {
    display: block;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 0 25px;
  }
}

/*                    about              */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  margin: 0 auto;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about__text-container {
  max-width: 60%;
}

.about__title {
  color: var(--accent-color);
  font-size: inherit;
}

.about__name {
  font-size: var(--fz-title);
  color: var(--text-color-light);
}

.about span {
  color: var(--accent-color);
}

.skill__list {
  max-width: 50%;
  max-height: 100px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 10px;
  column-gap: 20px;
}

.skill__item {
  position: relative;
  padding-left: 20px;

  font-size: var(--fz--small);
}

.skill__item::before {
  content: ">";
  position: absolute;
  left: 0;

  width: 20px;
  height: 20px;

  color: var(--accent-color);
}

.about__image {
  width: 250px;
  object-fit: contain;
}

@media (min-width: 1440px) {
  .about__image {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .about__image {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .about__text-container {
    max-width: 100%;
  }
  .about__image {
    display: none;
  }
}

@media (max-width: 425px) {
  .about__title {
    margin-bottom: 0;
  }
  .about__name {
    margin: 15px 0;
  }
}

/*                    portfolio              */


.portfolio {
  padding-top: var(--header-height);
}

.portfolio__title {
  margin-bottom: 50px;
}

.card-list {
  margin-bottom: var(--mg-section);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
}

.card__link-img {
  display: block;

  background-color: var(--accent-color);
}

.card__link-img,
.card__img {
 border-radius: 5px;
}

.card__img {
  width: auto;
  opacity: 0.6;
}

.card__img:hover {
  opacity: 1;
  transition: 400ms;
}

.card__head {
  display: flex;
  justify-content: space-between;
}

.card__title {
  margin-bottom: 0;
  font-size: var(--fz-sub-title);
  color: var(--title-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  gap: var(--icon-gap);
}

.card__description span {
  color: var(--accent-color);
}
.card__date {
  font-size: var(--fz--small);
}

.comment {
  display: flex;
  align-items: center;
  color: var(--accent-color);
}

@media (max-width:1024px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);

    gap: 2%;
  }
  /* .comment {
    display: inline;
    text-align: center;
  } */
}

@media (max-width: 425px) {
  .card-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .comment {
    align-self: center;
  }
}

/*                    contact              */



.contact {
  padding-top: var(--header-height);
}

.contact__text {
  max-width: 70%;
  margin-bottom: 100px;
}

.contact__contacts {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px 30px;
  margin-bottom: var(--mg-section);


  text-align: center;

  border: 1px solid var(--accent-color);
  border-radius: 20px;
}

.contact__contacts a {
  color: var(--accent-color);
}

@media (max-width: 768px) {

  .contact__text {
    max-width: 100%;
    margin-bottom: 70px;
  }

  .contact__contacts {
    max-width: 100%;
}
}

@media (max-width: 425px) {
  .contact__text {
    text-align: center;
  }
}

/*                    footer              */

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;

  text-align: center;
  font-size: var(--fz--small);
}

.social {
  display: flex;
  justify-content: center;
  gap: var(--icon-gap);
}

@media (min-width: 1024px) {
  .social {
    position: fixed;
    left: 40px;
    bottom: 0;

    flex-direction: column;
  }
  .social::after {
    content: "";

    display: block;
    width: 1px;
    height: 100px;
    margin: 0 auto;
    background-color: var(--text-color-light);
  }
}
